.idea
.netrc
.vscode
*.json
*.pickle
*.pyc
accounts.zip
accounts/*
bot.session
config.env
cookies.txt
data/*
downloads/*
list_drives.txt
log.txt
rclone.conf
rclone/*
terabox.txt
Thumbnails/*
token.pickle
tokens/*
user.session